.container__global__form {
    margin: 7%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;

}

.input__form__textFile {
    display: flex;
    flex-direction: column;
    margin: 5px;
}